body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul{
    display:flex;/*items in the list will be displayed horizontally*/
    list-style-type:none;
    background-color:black;
    height: 67px;
    align-items: center;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 66px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    font-size: small;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin:15px auto;
    width:70%;
    border-radius:12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor:pointer;
}
#ProgressBar{
    width: 80vh;
    cursor:pointer;
}

.songItem{
    height:45px;
    display:flex;
    background-color: white;
    color:black;
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.songItem img{
    width:40px;
    margin:0 15px;
    border-radius: 16px;
}

.timestamp{
    margin:0 23px;
    cursor:pointer;
}